<h1>Cadastrar motorista</h1>
<form id="form-motorista" #form="ngForm" novalidate>
    <div class="col-4">
        <label for="nome-motorista">Nome: </label>
        <input type="text" id="nome-motorista" [class.has-success]="nome.valid && (nome.dirty || nome.touched)" [class.has-error]="!nome.valid && (nome.dirty || nome.touched)" name="nomeMotorista" #nome="ngModel" placeholder="Nome do motorista" autocomplete="off" maxlength="200" required ngModel>
    </div>
    <div class="col-4">
        <label for="data-nasc">Data de nascimento: </label>
        <input type="date" id="data-nasc" [class.has-success]="data.valid && (data.dirty || data.touched)" [class.has-error]="!data.valid && (data.dirty || data.touched)" name="dataNascMotorista" #data="ngModel" autocomplete="off" required ngModel>
    </div>
    <br><br>
    <div class="col-4">
        <label for="cpf">CPF: </label>
        <input type="text" id="cpf" [class.has-success]="cpf.valid && (cpf.dirty || cpf.touched)" [class.has-error]="!cpf.valid && (cpf.dirty || cpf.touched)" name="cpfMotorista" #cpf="ngModel" mask='000.000.000-00' placeholder="CPF" autocomplete="off" minlength="11" required ngModel>
    </div>
    <div class="col-4">
        <label for="modelo-carro">Modelo do carro: </label>
        <input type="text" id="modelo-carro" [class.has-success]="modelo.valid && (modelo.dirty || modelo.touched)" [class.has-error]="!modelo.valid && (modelo.dirty || modelo.touched)" name="modeloCarro" #modelo="ngModel" placeholder="Modelo do carro" autocomplete="off" maxlength="200" required ngModel>
    </div>
    <br><br>
    <div class="col-4">
        <label>Status do motorista: </label><br>
        <input type="radio" id="status-a" name="statusMotorista" value="1" checked required ngModel>
        <label for="status-a">Disponível</label><br>
        <input type="radio" id="status-i" name="statusMotorista" value="0" required ngModel>
        <label for="status-i">Indisponível</label><br>
    </div>
    <div class="col-4">
        <label>Sexo: </label><br>
        <input type="radio" id="sexo-m" name="sexoMotorista" value="m" required ngModel>
        <label for="sexo-m">Homem</label><br>
        <input type="radio" id="sexo-f" name="sexoMotorista" value="f" required ngModel>
        <label for="sexo-f">Mulher</label><br>
    </div>
    <br>

    <button (click)="checkForm(form.value)" [disabled]="!form.valid">Cadastrar</button>
</form>
