.bt-ai{
    width:50px;
    height: 24px;
    background-color: #ddd;
    border-radius: 20px;
    margin-top: 10px;
    transition: all ease 0.5s;
    text-align: right;
}

.bt-ai button{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: none;
    margin: 2px;
    outline: none;
}

.bt-ativo button{
    background-color: #4BB543;
}

.bt-inativo{
    text-align: left !important;
}

.bt-inativo button{
    background-color: #7e1923;
}

.cards{
    border:1px solid #BCBCBC;
    border-radius:10px;
    padding:10px;
    text-align: left;
    background-color: #fff;
    margin-bottom: 20px;
}

.cards div{
    display: inline-block;
}

.infos{
    font-weight: bold;
    margin-left: 10px;
    vertical-align: top;
}

.inativo{
    border:1px solid #FC3246 !important;
    color:#7e1923;
}

.primary-info{
    padding-top:30px;
    font-size: 2em;
}

.secondary-info{
    font-size: 1.1em;
}

.tertiary-info{
    font-weight: normal !important;
}
