<a>
    <div class="col-11 cards">
        <div id="letter">
            <span><img src="https://via.placeholder.com/150x150?text={{passageiro.idPassageiro}}"></span>
        </div>
        <div class="infos">
            <br>
            <span class="primary-info">{{passageiro.nomePassageiro}}</span><br>
            <span class="tertiary-info"><small><i>CPF: {{cpf}}</i></small></span><br><br>
            <span class="tertiary-info">{{passageiro.sexoPassageiro.toLowerCase()=="m" ? 'Homem' : 'Mulher'}}</span>
            <span class="tertiary-info">, {{idade}}</span><br><br>
        </div>
    </div>
</a>
