h1{
    text-align: center;
}

#form-passageiro{
    text-align: center;
}

#form-passageiro input{
    margin: 10px;
}

#form-passageiro input[type=text], #form-passageiro input[type=date]{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid #BCBCBC;
    padding: 8px;
	font-family: 'Montserrat', sans-serif;
}

#form-passageiro input[type=text]::placeholder{
	color:#b3b3b3;
}

#form-passageiro input[type=text]:focus, #form-passageiro input[type=date]:focus{
    outline:none;
}

#form-passageiro button{
    border: 1px solid #BCBCBC;
    border-radius: 5px;
    padding: 8px;
    color:#222;
    background-color: #fff;
    transition: all ease 0.2s;
    outline: none;
    cursor: pointer;
}

#form-passageiro button:hover{
    border: 1px solid #BCBCBC;
    border-radius: 5px;
    padding: 8px;
    color:#fff;
    background-color: #222;
}

#form-passageiro button:active{
    border: 1px solid #BCBCBC;
    border-radius: 5px;
    padding: 8px;
    color:#fff;
    background-color: #000;
}

#form-passageiro button:disabled{
    border: 1px solid #BCBCBC;
    border-radius: 5px;
    padding: 8px;
    color:#fff;
    background-color: #aaa;
    cursor: not-allowed;
}

.has-error{
	border-bottom: 2px solid #FC3246 !important;
}

.has-success{
	border-bottom: 2px solid #4BB543 !important;
}

#form-passageiro .ng-pristine{
	color:#b3b3b3;
}

#form-passageiro .ng-dirty{
	color:#222;
}
