
<nav id="nav-bar" class="">
  <div id="header-content">
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="bt">
        <a [routerLink]="['/']">MobiTransp</a>
      </li>
      <li routerLinkActive="active" class="bt">
        <a [routerLink]="['/motorista']">Motorista</a>
      </li>
      <li routerLinkActive="active" class="bt">
        <a [routerLink]="['/passageiro']">Passageiro</a>
      </li>
      <li routerLinkActive="active" class="bt">
        <a [routerLink]="['/corrida']">Corrida</a>
      </li>
    </ul>
  </div> <!--header-content-->
</nav><!--nav-bar-->
<div style="height:77px;width:100%;display:inline-block"></div>
